.container{
margin:0 auto;
width:100%;
position:relative;
}

.field{
  text-align: center;
 height: 450px;
 width: calc(50% - 16px);
 float:left;
 position: relative;
 border: 3px solid black;
 margin-left:8px;

 text-align: center;

}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.text h1{
  text-align: center;

}
.text p {
  text-align: center;

}
